.App_countdown {
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .counter{
    margin: 5px;
  }

  .time {
    font-size: 32px;
  }
  