.register-main {
  background-color: #0d0d0d;
  margin-top: 80px !important;
}

.register {
  background-color: #0d0d0d;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.image_register {
  padding: 10px;
  width: 50%;
  min-width: 375px;
}
.ptable {
  text-align: center;
  color: rgb(235, 235, 235);
  font-size: 14px;
}

.ptable > :not(:first-child) {
  border-top: none;
}

/* .Coming_Soon {
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin-left: -30px;
  } */
@media (max-width: 800px) {
  .table {
    width: 90vw;
    font-size: 12px;
  }
}

/* @keyframes animate {
    0% {
      background-position: -500%;
    }
    25%{
        background-position: -250%;
    }
    50%{
        background-position: 0%;
    }
    75%{
        background-position: 250%;
    }
    100% {
      background-position: 500%;
    }
  } */
