 .speakers-all {
    background-color: #0d0d0d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 80px !important;
}

.fluid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.contain{
    font-size: 50px;
    padding-top: 40px;
    font-weight: bolder;
}


.contain span {
    font-size: 50px;
    padding-top: 40px;
    color:#ff2b06;
}
.p1 {
    font-size: 2.25rem;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    line-height: 2.5rem;
    font-display: swap;
}

.p2 {
    color: #FF2B06;
    font-size: 2 rem;
}

.Coming_Soon {
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin-left: -30px;
  }
@media (max-width:500px)
{
  .Coming_Soon{
    font-size:1.5em;
  }
}

  @keyframes animate {
      0% {
          background-position: -500%;
      }

      25% {
          background-position: -250%;
      }

      50% {
          background-position: 0%;
      }

      75% {
          background-position: 250%;
      }

      100% {
          background-position: 500%;
      }
  }

  *
/* .contain-1{
    font-size: 50px;
   
    color: #ff2b06;
    font-weight: bolder;
    font-family: 'Roboto' !important;
} */
/* .sub-quote{
    font-size: 50px;
    text-align: center;
    color: #808080;
    font-weight: bolder;
    font-family: 'Roboto' !important;
}
.quote{
    font-size: 50px;
    text-decoration-line: underline;
    text-align: center;
    color: #ff2b06;
    font-weight: bolder;
   
    font-family: 'Roboto' !important;
} */
/* .ans{
    padding: 20px;
    text-size-adjust:initial;
    color: oldlace;
   width: 200px;
} */
.ted-para{
    font-family: "Comfortaa",
    sans-serif;
    font-size: 18px;
    color: white;
}
/* @media only screen and (max-width:500px){
    .p2{
        padding-top:20px ;
    }
} */
.block {
    width: 450px;
    height: 450px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 15px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

@media screen and (max-width: 400px){
    .block{
        width: 300px;
        height: 300px;
    }
}

.block:nth-child(1) {  
     /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/rupesh.jpeg");
    transition: 0.5s ease-in-out;
}
.block:nth-child(1) :hover{  
   scale: 1.7;
   transition: 0.5s ease-in-out;
  
}
.block:nth-child(2) {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/jade.jpeg");
}

.block:nth-child(3) {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/kamna.jpeg");
}

.block:nth-child(4) {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/kishwar.jpeg");
}

.block:nth-child(5) {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/suhas.jpeg");
}

.block:nth-child(6) {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
    background-image: url("../images/munish.jpeg");
}



.overlay {
    z-index: 5;
    width: 80%;
    height: 100%;
    background-color: rgba(139, 135, 135, 0.5);
    transform: rotate(45deg) scaleY(2) scaleX(0);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-left: #ff2b06 3px solid !important;
    border-right: #ff2b06 3px solid !important;
}
.block:hover .overlay {
    transform: rotate(45deg) scaleY(2) scaleX(1);
}

.block--text {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    padding: 20px;
  
    transform-origin: bottom center;
    transition: all 300ms ease-in;
    z-index: 100;
    opacity: 0;
    transition: all 300ms 200ms ease-in;
}

.block:hover .block--text {
    opacity: 1;
}

.text--head {
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff4400;
}

.text--quote {
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    color: white !important;
}

.text--person {
    padding-top: 15px;
    position: relative;
    text-align: end;
    color: #ff2b06!important;
} 
