.sponsors {
    background-color: #1b1b1b;
}

.row-sponsors h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-display: #ff2b06;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-sponsors img {
    width: 200px;
    height: auto;
    padding: 10px;
}

@media only screen and (max-width: 375px) {
    .row-sponsors h1 {
        font-size: 10px;

    }

    .sponsors-img {
        max-height: 20%;
    }
}

@media only screen and (max-width: 728px) {
    .row-sponsors h1 {
        font-size: 30px;
    }

    .sponsors-img {
        max-height: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    .row-sponsors h1 {
        font-size: 40px;
    }

    .sponsors-img {
        max-width: 20%;
    }
}