/*no scroll-bar*/
body {
  /* background-color: #0d0d0d; */
  overflow-y: scroll;
  cursor: context-menu;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* no scroll bar ended*/


.fluid-container-loader{
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade 3.5s ease-in-out;
}

@keyframes fade {
  0%   {opacity: 0;
  background-color: #0d0d0d;}
  50%  {opacity: 1;
  background-color:#0d0d0d;}
  100% {opacity: 0;
  background-color:#0d0d0d;}
}

footer {
  padding: 2rem 0;
  background-color: #0d0d0d; 
}


/*home*/
.tedx1{
  font-size:5em;
  font-family: 'Roboto';
}
@media (max-width:500px)
{
  .tedx1{
    font-size:2em;
  }
  .tedx2{
    font-size:.8em;
  }
}

.top-main{
  background:url("https://www.teahub.io/photos/full/236-2362755_orange-and-black-loop-background-orange-black-background.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  
}
