/*no scroll-bar*/
body {
  /* background-color: #1b1b1b; */
  overflow-y: scroll;
  cursor: context-menu;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* no scroll bar ended*/


.fluid-container-loader{
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade 3.5s ease-in-out;
}

@keyframes fade {
  0%   {opacity: 0;
  background-color: #1b1b1b;}
  50%  {opacity: 1;
  background-color:#1b1b1b;}
  100% {opacity: 0;
  background-color:#1b1b1b;}
}

footer {
  padding: 2rem 0;
  background-color: #1b1b1b; 
}


/*home*/
.tedx1{
  font-size:5em;
  font-family: 'Roboto';
}
@media (max-width:500px)
{
  .tedx1{
    font-size:3em;
  }
  .tedx2{
    font-size:1em;
  }
}